<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sojourn Facilitators Rock!</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-controller="myController">

<div id="page-wrapper" class="container">
		<div id="header-wrapper">
			<div id="header-title"><h1>Sojourn Facilitator Check List</h1></div>
			<div id="facilitator-name"><h2>Name:</h2></div>
			<div id="disclaimer">
				<p>By checking below, I indicate that I have been trained and feel comfortable leading each of these activities/skills:
			</div>
		</div>



		<div class="row">
			<div id="low-elements" class="col-sm-10 .col-md-12 activity" >
				<div class="col-sm-6">
						<h4>Lows</h4>
				</div>
			</div>
		</div>


		<div class="row">
			<div id="high-elements" class="col-sm-10 .col-md-12 activity"><h4>Highs</h4>
				<div class="col-sm-6 activity">
					<ul ng-repeat="skill in reqSkills | filter: {topic: 'Highs'}">
						<li><input type="checkbox"/><label>{{skill.activity}}</label></li>
					</ul>
				</div>
			</div>
		</div>


		<div class="row">
			<div id="safety" class="col-sm-10 .col-md-12 activity"><h4>Safety</h4>
				<div class="col-sm-6 activity">
					<ul ng-repeat="skill in reqSkills | filter: {topic: 'Safety'}">
						<li><input type="checkbox"/><label>{{skill.activity}}</label></li>
					</ul>
				</div>
			</div>

			<div id="knots" class="col-sm-10 .col-md-12 activity"><h4>Knots</h4>
				<div class="col-sm-6 activity">
					<ul ng-repeat="skill in reqSkills | filter: {topic: 'Knots'}">
						<li><input type="checkbox"/><label><a href="{{skill.activity}}">{{skill.lable}}</a></label></li>
					</ul>
				</div>
			</div>

			<div id="training" class="col-sm-10 .col-md-12 activity"><h4>Training</h4>
				<div class="col-sm-6 activity">
					<ul ng-repeat="skill in reqSkills | filter: {topic: 'Training'}">
						<li><input type="checkbox"/><label>{{skill.activity}}</label></li>
					</ul>
				</div>
			</div>

			<div id="rescue" class="col-sm-10 .col-md-12 activity"><h4>Rescue Training</h4>
				<div class="col-sm-6 activity">
					<ul ng-repeat="skill in reqSkills | filter: {topic: 'Rescue Training'}">
						<li><input type="checkbox"/><label>{{skill.activity}}</label></li>
					</ul>
				</div>
			</div>

				<div id="shadowing" class="col-sm-10 .col-md-12 activity"><h4>Shadowing</h4>
					<div class="col-sm-6 activity">
						<ul ng-repeat="skill in reqSkills | filter: {topic: 'Shadowing'}">
							<li><input type="checkbox"/><label>{{skill.activity}}</label></li>
						</ul>
					</div>
				</div>

				<div id="doc-hours" class="col-sm-10 .col-md-12 activity"><h4>Documented Hours</h4>
					<div class="col-sm-6 activity">
						<ul ng-repeat="skill in reqSkills | filter: {topic: 'Documented Hours'}">
							<li><input type="checkbox"/><label>{{skill.activity}}</label></li>
						</ul>
					</div>
				</div>

				<div id="exam" class="col-sm-10 .col-md-12 activity"><h4>Written Exam</h4>
					<div class="col-sm-6 activity">
						<ul ng-repeat="skill in reqSkills | filter: {topic: 'Written Exam'}">
							<li><input type="checkbox"/><label>{{skill.activity}}</label></li>
						</ul>
					</div>
				</div>

				<div id="cert" class="col-sm-10 .col-md-12 activity"><h4>Certification</h4>
					<div class="col-sm-6 activity">
						<ul ng-repeat="skill in reqSkills | filter: {topic: 'Certification'}">
							<li><input type="checkbox"/><label>{{skill.activity}}</label></li>
						</ul>
					</div>
				</div>

				<div id="more-skills" class="col-sm-10 .col-md-12 activity"><h4>Additional Skills</h4>
					<div class="col-sm-6 activity">
						<ul ng-repeat="skill in reqSkills | filter: {topic: 'Additional'}">
							<li><input type="checkbox"/><label>{{skill.activity}}</label></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="footer">
			
		</div>
</div>
	
</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.5.0-beta.2/angular-sanitize.min.js"></script>
	<script src="model.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-git2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
</html>






















