li {
	list-style: none;
}

.activity {
	border: 1px solid;
	margin: 3px;
	float: left;
	display: inline-block;
}

#page-wrapper {
	margin-bottom: 50px;
}

#header-wrapper {
	background-image: url("tanbg.png");
	background-color: #E2E4DB;
	width: 80%;
	padding: 0px 20px;
	border-radius: 8px;
}

.panel {
	width: 80%;
}

.panel-default {
	background-image: url("tanbg.png");
	background-color: #E2E4DB;
	border-radius: 8px !important;
}

.panel-group {
	border-radius: 8px !important;
}

.panel-heading {
	background-image: url("tanbg.png") !important;
	background-color: #E2E4DB !important;
	border-radius: 8px !important;
}

.panel-collapse {
	border-radius: 8px !important;
}

a {
	margin: auto;
	}

body {
	background-image: url("darkgreenbg.png");
	background-color: #ffffff;
}
